/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --main-color: #ff8dcb;
    --title-nav-color: #353430;
    --background-color: #000028;
    --content-title: #353430;

    --background-img: url(../images/cover-image-light.png);
    --btn-hover: rgba(255, 0, 112, 0.4);
}

.page.theme_light .decoration {
    display: none;
}
