/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.title-decor {
    background-color: var(--main-color);
}

.header {
    position: relative;
    min-height: 100vh;
    padding-block: var(--gap-container);
}

.decorated-zone::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.decorated-zone::before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}

.header__theme-menu {
    position: relative;
}

.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header__theme-menu-button {
    display: flex;
    color: var(--title-nav-color);
    height: 26px;
    border: none;
    padding-inline: 13px;
    font-family: inherit;
    line-height: 1;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--btn-hover);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--main-color);
    pointer-events: none;
}

.decoration {
    position: absolute;
    top: 20px;
    right: 29px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.decoration::before {
    content: 'rec';
    color: var(--main-color);
    line-height: 25px;
    text-transform: uppercase;
}

.decoration::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--main-color);
    filter: drop-shadow(0px 0px 4px var(--main-color));
}

.header__main-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 11%;
}

.header__title {
    margin-top: 26.8%;
    padding-bottom: 11.1%;
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(116px, 15.33vw, 157px);
    line-height: 82.5%;
    text-shadow: 4px 4px 0px var(--main-color);
}

.header__text {
    align-self: end;
    max-width: 490px;
    margin-right: var(--gap-container);
    color: var(--content-title);
    font-weight: 700;
    line-height: 23.4px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-inline: var(--gap-container);
    padding-block: 60px;
}

.content {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-reasons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content-reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.content__title {
    width: 315px;
    color: var(--main-color);
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 1.3;
}

.content__item-subtitle {
    color: var(--content-title);
    font-weight: 400;
    line-height: 1.3;
}

.content__item-text {
    line-height: 1.3;
}

.content__item-title {
    color: var(--content-title);
    font-weight: 700;
    font-size: inherit;
    line-height: 1.3;
}

.content__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-shadow: 2px 2px 0px var(--main-color);
}

.content-link:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
}

.content-link:focus {
    outline: none;
}

.content-link:focus-visible {
    border: 1px solid currentColor;
}

.content-img {
    display: grid;
    grid-template-areas:
        'title title title'
        'img1 img1 img2'
        'img3 img4 img2'
        'img3 img5 img5';
    gap: var(--gap-container);
}

.content-img__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-img__title {
    grid-area: title;
    color: var(--content-title);
    font-size: inherit;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.footer__tittle {
    color: var(--title-color);
    font-weight: 700;
    font-size: clamp(116px, 15.33vw, 157px);
    line-height: 82.5%;
    text-shadow: 2px 2px 0px var(--main-color);
}

@media (max-width: 769px) {
    .header__theme-menu-list {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 22.5%;
        margin-bottom: 22.8%;
        padding-right: var(--gap-container);
    }

    .header__main-text {
        padding-bottom: 21%;
    }

    .header__title {
        margin-top: 0;
        padding-bottom: 21.1%;
        letter-spacing: 1.5px;
    }

    .header__text {
        max-width: 364px;
    }

    .content__title {
        width: 236px;
    }

    .content-reasons__list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    body {
        --gap-container: 10px;
    }

    .header {
        padding: var(--gap-container);
    }

    .decorated-zone::after {
        top: 10px;
        right: 10px;
    }

    .decorated-zone::before {
        bottom: 10px;
        left: 10px;
    }

    .header__theme-menu-list {
        margin-top: 18.5%;
        margin-bottom: 18.8%;
        padding-right: 0;
    }

    .decoration {
        top: 10px;
        right: 19px;
    }

    .header__main-text {
        padding-bottom: 16%;
    }

    .header__title {
        padding-bottom: 15.1%;
        letter-spacing: 0px;
    }

    .header__text {
        margin-right: 0px;
    }

    .main {
        gap: 50px;
        padding-block: 40px;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content__title {
        width: 100%;
    }

    .content-img {
        grid-template-areas:
            'title'
            'img1'
            'img2'
            'img3'
            'img4'
            'img5';
    }
}
