:root {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --main-color: #ff8dcb;
    --title-nav-color: #353430;
    --background-color: #000028;
    --content-title: #353430;

    --background-img: url(../images/cover-image-light.png);
    --btn-hover: rgba(255, 0, 112, 0.4);

    --font-size: 18px;
    --font-family: 'IBM Plex Mono', sans-serif;
    --gap-container: 20px;
}

@media (max-width: 500px) {
    :root {
        --gap-container: 10px;
    }
}
