:root {
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --main-color: #ff0070;
    --title-nav-color: #ff0070;
    --background-color: #000028;
    --content-title: #000028;
    --font-size: 18px;
    --font-family: 'IBM Plex Mono', sans-serif;
    --gap-container: 20px;

    --background-img: url(../images/cover-image-dark.png);
    --btn-hover: rgba(255, 0, 112, 0.4);
}

@media (max-width: 376px) {
    :root {
        --gap-container: 10px;
    }
}
